//tablet and smart
@media(max-width: 800px) {
    #header-home {
        height: 30rem;
        .header-content {
            padding-top: 5rem;
        }
        h1 {
            margin-top: 50px;
            font-size: 3rem;
        }
    }
}

// smartphones 
@media(max-width: 650px) {
    #main-nav {
        flex-direction: column;
        align-items: center;
        li {
            padding: 1rem;
        }
    }
    #header {
        &-home {
            height: 30rem;
            border-bottom: 3px solid $main-color;
            background-position: 50% 30%;
            .header-content {
                display: none;
            }
        }
        &-inner {
            height: 4.5rem;
        }
    }
    // stack Grid Columns
    #home-a .grid,
    #home-b .stats,
    #home-c .process,
    #about-d .testimonials,
    .items,
    #contact-b .contact-info {
        grid-template-columns: 1fr;
    }
    #home {
        &-a {
            .grid div {
                border-bottom: 1px $light-color solid;
                padding-bottom: 1rem;
                &:last-child {
                    border: none;
                    padding-bottom: 0;
                }
            }
        }
        &-b {
            .stats div {
                padding: 2rem 1rem 0;
            }
        }
        &-c {
            .process:last-child {
                margin-bottom: 50px;
            }
        }
    }
    // about
    #about {
        &-a {
            .about-info {
                grid-template-areas: 'bio' 'bioimg' 'aw1' 'aw2' 'aw3';
            }
        }
        &-c {
            .about-logos {
                display: none;
            }
        }
    }
    // contact
    #contact {
        &-a {
            .text-fields {
                grid-template-areas: 'name''subject''email''phone''message';
            }
        }
        &-b {
            div {
                margin-bottom: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid #555;
                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
        }
        &-c {
            h1 {
                font-size: 2rem;
            }
        }
    }
    // footer
    #main-footer {
        height: 7rem;
        .footer-content {
            flex-direction: column;
            padding: 1rem;
            height: 5rem;
        }
    }
}

//
@media (max-width: 580px) {
    #header-home {
        .header-content {
            padding-top: 3rem;
        }
    }
    #main-nav img {
        width: 72px;
        height: 72px;
        margin-left: 20px;
        margin-bottom: 15px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media (max-width: 400px) {
    #header-home {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
    }
    #main-nav ul {
        flex-flow: column;
        font-size: 0.8rem;
        padding: 0;
        margin: 0;
    }
    #main-nav ul li {
        padding: 10px;
    }
    #main-nav ul:last-child {
        margin-bottom: 5px;
    }
}

@media (max-width: 330px) {
    #header-home {
        .header-content {
            h1 {
                font-size: 2rem;
            }
        }
    }
    #main-nav img {
        width: 72px;
        height: 72px;
        margin-left: 10px;
        margin-bottom: 15px;
        position: absolute;
        top: 0;
        left: 0;
    }
}